#!/bin/bash

source {{ rasa_install_location }}/bin/activate
rasa x --enable-api --config {{ rasa_config_location }}/config.yml -m {{ rasa_config_location }}/models/ --data {{ rasa_config_location }}/data --endpoints {{ rasa_config_location }}/endpoints.yml